<div class="container is-fluid ">
<article class="mw5 mw6-ns center ">
    <div class="aspect-ratio aspect-ratio--16x9 mb4 ">
        <h1 class="title tc">Add Booking Details</h1>
        <hr />
        
        <form method="post">
            <div class="columns field w60">
                <div class="column is-one-quarter">
                    <label class="label">Bill Number:</label>
                </div>
                <div class="column">
                    <div class="control">
                        <input class="input" type="text" placeholder="Text input" ng-model="user.billNumber">
                    </div>
                </div>
            </div>
            <div class="columns field w60">
                <div class="column is-one-quarter">
                    <label class="label">Consignor Party:</label>
                </div>
                <div class="column">
                    <div class="control">
                        <input class="input" type="text" placeholder="Text input" ng-model="user.consignorParty">
                    </div>
                </div>
            </div>
            <div class="columns field w60">
                <div class="column is-one-quarter">
                    <label class="label">Consignor GST :</label>
                </div>
                <div class="column">
                    <div class="control">
                        <input class="input" type="text" placeholder="Text input" ng-model="user.consignorGst">
                    </div>
                </div>
            </div>
            <div class="columns field w60">
                <div class="column is-one-quarter">
                    <label class="label">Consignee Party:</label>
                </div>
                <div class="column">
                    <div class="control">
                        <input class="input" type="text" placeholder="Text input" ng-model="user.consigneeParty">
                    </div>
                </div>
            </div>
            <div class="columns field w60">
                <div class="column is-one-quarter">
                    <label class="label">Consignee GST:</label>
                </div>
                <div class="column">
                    <div class="control">
                        <input class="input" type="text" placeholder="Text input" ng-model="user.consigneeGst">
                    </div>
                </div>
            </div>
            <div class="columns field w60">
                <div class="column is-one-quarter">
                    <label class="label">Drop Location:</label>
                </div>
                <div class="column">
                    <div class="control">
                        <div class="select">
                            <select ng-model="user.location">
                                <option>Makum</option>
                                <option>Digboi</option>
                                <option>Digboi</option>
                                <option>Digboi</option>
                                <option>Digboi</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="columns field w60">
                <div class="column is-one-quarter">
                    <label class="label">Weight :</label>
                </div>
                <div class="column">
                    <div class="control">
                        <input class="input" type="text" placeholder="Danger input" ng-model="user.weight">
                    </div>
                </div>
            </div>
            <div class="columns field w60">
                <div class="column is-one-quarter">
                    <label class="label">Number of Cartoons :</label>
                </div>
                <div class="column">
                    <div class="control">
                        <input class="input" type="tel" placeholder="Danger input" ng-model="user.cartoon">
                    </div>
                </div>
            </div>
            <div class="columns field w60">
                <div class="column is-one-quarter">
                    <label class="label">Rates :</label>
                </div>
                <div class="column">
                    <div class="control">
                        <input class="input" type="tel" placeholder="Danger input" ng-model="user.rate">
                    </div>
                </div>
            </div>
            <div class="columns field w60">
                <div class="column is-one-quarter">
                    <label class="label">Other Charges:</label>
                </div>
                <div class="column">
                    <div class="control">
                        <input class="input" type="tel" placeholder="Danger input" ng-model="user.otherCharge">
                    </div>
                </div>
            </div>
            <div class="columns field ">
                <div class="column is-one-quarter">
                    <label class="label">Total Amount:</label>
                </div>
                <div class="column">
                    <div class="control">
                        <input class="input" type="tel" placeholder="Danger input" ng-model="user.totalAmount">
                    </div>
                </div>
            </div>
        <div class="field is-grouped is-grouped-centered">
            <p class="control">
                <a class="button is-primary" ng-click="saveBookingDetails()">
                    Submit
                </a>
            </p>
            <p class="control">
                <a class="button is-light">
                    Cancel
                </a>
            </p>
        </div>
        </form>
    </div>
</article>
</div>
