<div class="container is-fluid">
    <h1 class="title">Add Booking Details</h1>
    <hr>
    <div class="field w60">
        <label class="label">Bill Number:</label>
        <div class="control">
            <input class="input" type="text" placeholder="Text input" ng-model="user.billNumber">
        </div>
    </div>
   
    <div class="field">
        <label class="label">Consignor Party:</label>
        <div class="control">
            <input class="input" type="text" placeholder="Text input" ng-model="user.consignorParty">
        </div>
    </div>
    <div class="field">
        <label class="label"> GST :</label>
        <div class="control">
            <input class="input" type="text" placeholder="Text input" ng-model="user.consignorGst">
        </div>
    </div>
    <div class="field">
        <label class="label">Consignee Party:</label>
        <div class="control">
            <input class="input" type="text" placeholder="Text input" ng-model="user.consigneeParty">
        </div>
    </div>
    <div class="field">
        <label class="label"> GST :</label>
        <div class="control">
            <input class="input" type="text" placeholder="Text input" ng-model="user.consigneeGst">
        </div>
    </div>
    <div class="field">
        <label class="label">Drop Location :</label>
        <div class="control">
            <div class="select">
                <select ng-model="user.location">
                    <option>Makum</option>
                    <option>Digboi</option>
                    <option>Digboi</option>
                    <option>Digboi</option>
                    <option>Digboi</option>
                </select>
            </div>
        </div>
    </div>
    <div class="field">
        <label class="label">Weight :</label>
        <div class="control">
            <input class="input" type="text" placeholder="Danger input" ng-model="user.weight">
        </div>
    </div>
    <div class="field">
        <label class="label">Number of Cartoons :</label>
        <div class="control">
            <input class="input" type="tel" placeholder="Danger input" ng-model="user.cartoon">
        </div>
    </div>
    <div class="field">
        <label class="label">Rates :</label>
        <div class="control">
            <input class="input" type="tel" placeholder="Danger input" ng-model="user.rate">
        </div>
    </div>
    <div class="field">
        <label class="label">Other Charges :</label>
        <div class="control">
            <input class="input" type="tel" placeholder="Danger input" ng-model="user.otherCharge">
        </div>
    </div>
    <div class="field">
        <label class="label">Total Amount :</label>
        <div class="control">
            <input class="input" type="tel" placeholder="Danger input" ng-model="user.totalAmount">
        </div>
    </div>
    <label class="label">Image:</label>
    <div class="file has-name is-fullwidth">
       
        <div>
            <label class="file-label">
                <input class="file-input" type="file" name="resume">
                <span class="file-cta">
                    <span class="file-icon">
                        <i class="fas fa-upload"></i>
                    </span>
                    <span class="file-label">
                        Choose a file…
                    </span>
                </span>
                <span class="file-name">
                    Screen Shot 2017-07-29 at 15.54.25.png
                </span>
            </label>
        </div>
        
    </div>
    <br>
    <div class="field is-grouped is-grouped-centered">
        <p class="control">
            <a class="button is-primary" ng-click="saveBookingDetails()">
                Submit
            </a>
        </p>
        <p class="control">
            <a class="button is-light">
                Cancel
            </a>
        </p>
    </div>
</div>