<div class="container is-fluid">
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="https://bulma.io">
                <h1 class="title">Shree Shyam Roadways</h1>
            </a>

            <button class="button navbar-burger">
                <span></span>
                <span></span>
                <span></span>
            </button>
        </div>
    </nav>
    <hr>
    <div class="tabs">
        <ul>
            <li class="is-active">
                <a>Home</a>
            </li>
            <li>
                <a>Add Booking</a>
            </li>
            <li>
                <a>Add Lorry Frieght Memo</a>
            </li>
            <li>
                <a>Add Expanses Entry</a>
            </li>
        </ul>
    </div>
    <br>
    <br>
    <div class="container is-fluid">
        <h1 class="subtitle">Online Portal Management</h1>
        <hr />
        <br>
        <br>
        <a href="#" class="button is-info" ng-click="addBookingDetails()">add Booking Details</a>
        <a href="#" class="button is-info">add Lorry Freight</a>
        <a href="#" class="button is-info">add Expenses Chart</a>
        <a href="#" class="button is-info">Tinsukhiya</a>
    </div>


</div>