
<div class="container is-fluid mw5 mw6-ns center pt4  ">
<div class="tc">
    <a class="tc" href="https://bulma.io">
        <h1 class="title ">Shree Shyam Roadways</h1>
    </a>


</div>
    <hr>
    <div class="tabs ">
        <ul>
            <li class="is-active">
                <a>Home</a>
            </li>
            <li>
                <a>Add Booking</a>
            </li>
            <li>
                <a>Add Lorry Frieght Memo</a>
            </li>
            <li>
                <a>Add Expanses</a>
            </li>
        </ul>
    </div>
    <br>
    <br>
    <div class="container is-fluid mw3 mw3-ns center bg-light-gray pa3 ph5-ns ">
        <h1 class="subtitle tc">Online Portal Management</h1>
        <hr>
        <div class="columns tc ">
            <div class="column">
                <a href="#" class="button is-info" ng-click="addBookingDetails()">Add Booking Details</a>
            </div>
            <div class="column">
                <a href="#" class="button is-info">Add Lorry Freight</a>
            </div>
            <div class="column">
                <a href="#" class="button is-info">Add Expenses Chart</a>
            </div>
            <div class="column">
        <a href="#" class="button is-info">Tinsukhiya</a>
                
            </div>
        </div>
    </div>
</div>